{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<br><br><br>
<br><br><br>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card mb-4 border-0">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
         {% for field in form %}
        <div class="input-group form-group">
          <div class="input-group-prepend">
          </div>
          {{ field }}
           <input style="width:35%" class="btn btn-outline-info btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
        </div>
        
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </div>
    </div>
    <br><br><br>
    <br><br><br>
<br><br><br>

{% endblock %}
