{% extends 'hq/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
	

<style>

.booking-form {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: auto;
	background-image: linear-gradient(to right top, #001f3f, #1e486d, #3c769d, #5ca7ce, #7fdbff);
}

.booking-form>.booking-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 310px;
	background-image: url("{% static '/background.jpg'%}");
	background-size: cover;
	background-position: center;
}

.booking-form>form {
	margin-left: 310px;
	padding: 30px;
}

.booking-form .form-header {
	margin-bottom: 25px;
}

.booking-form .form-header h2 {
	margin: 0;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	text-transform: uppercase;
	text-align: center;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: transparent;
	height: 65px;
	padding: 0px;
	padding-top: 15px;
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: #fff;
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-transform: capitalize;
	border-bottom: 2px solid #cecccd;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form input[type="date"].form-control:invalid,
.booking-form input[type="time"].form-control:invalid {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control option {
	color: #1a1b1d;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #cecccd;
	font-size: 14px;
}

.booking-form select.form-control.form-label {
	opacity: 1;
	color: rgba(255, 255, 255, 0.3);
}

.booking-form .form-label {
	color: #ffc600;
	font-weight: 700;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 26px;
	opacity: 0.6;
	text-transform: capitalize;
	pointer-events: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group:not(.input-not-empty) .form-control:not(:focus) {
	color: transparent;
}

.booking-form input[type="date"].form-control+.form-label,
.booking-form input[type="time"].form-control+.form-label {
	color: rgba(255, 255, 255, 0.3);
	opacity: 1;
}

.booking-form input[type="date"].form-control:focus+.form-label,
.booking-form input[type="time"].form-control:focus+.form-label {
	opacity: 1;
	top: 0px;
	color: #ffc600 !important;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	top: 0px;
	color: #ffc600 !important;
}

.booking-form .form-btn {
	margin-top: 25px;
}

.booking-form .submit-btn {
	color: #ffc600;
	background-color: white;
	font-weight: 700;
	height: 55px;
	padding: 10px 35px;
	font-size: 18px;
	border-radius: 0px;
	width: 100%;
	border: 2px solid #ffc600;
}

@media only screen and (max-width: 480px) {
	.booking-form>.booking-bg {
		display: none;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}
</style>

{% if user.is_authenticated %}
<div class="section-center">
    <div class="container">
        <div class="row">
            <div class="booking-form">
                <div class="booking-bg"></div>
                <form method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-header">
                        <h2 style="color:#ffc600">レンタル予約</h2>
                    </div>
                    <div class="form-group">
                        {% render_field form.facility|attr:'required:true' class="form-control"%}
                        <span class="form-label">ご希望の福祉用具（選択）</span>
                    </div>

        	            <div class="form-group">
    	                    {% render_field form.location|attr:'required:true' class="form-control"%}
	                        <span class="form-label">お客様のコメント</span>
	                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% render_field form.date|attr:'required:true' class="form-control"%}
                                <span class="form-label">ご希望の日付</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% render_field form.time|attr:'required:true' class="form-control"%}
                                <span class="form-label">ご希望の時間</span>
                            </div>
                        </div>
                    </div>
					<div class="form-group">
                        {% render_field form.user|attr:'required:true' class="form-control"%}
                    </div>
                    <div class="form-btn">
                        <button type="submit" class="btn btn-primary">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

	<script src="js/jquery.min.js"></script>
<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>

	<script>
		var user = " {{ user.id }}";
        document.getElementById("user_id").value = user;
	</script>
{% else %}
        ログインが必要です。
{% endif %} 
<br><br>
<br><br>
{% endblock content %}
