{% extends 'hq/base.html' %}
{%load static%}

{% block content %}
  
  
<style>
body {
        background: url("{% static 'back1.jpg'  %}") no-repeat;
  background-size : cover;
}
</style>

  </head>
  <body>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
<h1 class="text-center">ご利用ありがとうございました！</h1>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a href="{% url 'base'%}"><span class="badge rounded-pill bg-warning text-white"><h2>お戻り</h2></span></a>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br>

  </body>
{% endblock content %}
